example.org.db=org.Hs.eg.db# Name of bioconductor annotation package
example.csv=example#         Name of CSV file in extdata that will supply assay data. Delete line if not used. You can set example.missing to this value _instead_, and a binary 'missingness' analysis will be carried out instead.
example.symbolColumn=#       Name of a column in a CSV that contains the gene symbols. Defaults to first column if you delete this line.
example.rowNoun=gene#        What word to use in reports to refer to a feature (protein, peptide, metabolite, gene...)
example.rda=example#         Name of rda file in extdata that will supply a preprocessed object. Delete line if not used
example.rds=example#         Name of rds file in extdata that will supply a preprocessed object. Delete line if not used
example.nospec=#             Comma-separated list of names of spec files that will _not_ be combined with this config settings.