genome_fasta=/nemo/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh38/release-95/genome/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa
gtf=/nemo/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh38/release-95/gtf/Homo_sapiens.GRCh38.95.gtf
org.db=org.Hs.eg.db
nfcore= -profile crick -resume -r 3.10.1
