genome_fasta=/nemo/svc/reference/Genomics/babs/mus_musculus/ensembl/GRCm38/release-95/genome/Mus_musculus.GRCm38.dna_sm.toplevel.fa
gtf=/nemo/svc/reference/Genomics/babs/mus_musculus/ensembl/GRCm38/release-95/gtf/Mus_musculus.GRCm38.95.gtf
org.db=org.Mm.eg.db
nfcore= -profile crick -resume -r 3.10.1
